//## Colors

//### Primary

//- Green: hsl(75, 94%, 57%)
$green:hsl(75, 94%, 57%);


//### Neutral
$white: hsl(0, 0%, 100%);
//- White: hsl(0, 0%, 100%)
$grey: hsl(0, 0%, 20%);
//- Grey: hsl(0, 0%, 20%)
$darkGrey: hsl(0, 0%, 12%);
//- Dark Grey: hsl(0, 0%, 12%)
$offBlack: hsl(0, 0%, 8%)
//- Off Black: hsl(0, 0%, 8%)

//## Typography

//### Body Copy

//- Font size (paragraph): 14px

//### Font

//- Family: [Inter](https://fonts.google.com/specimen/Inter)
//- Weights: 400, 600, 700